* {
    margin: 0;
    padding: 0;
}

body {
    background: #ebc3db;
}

nav {
    display: flex;
    height: 60px;
    position: relative;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #333;
}

.nav-links {
    margin: 0 auto;
    display: flex;
    gap: 120px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    padding: 0 35px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-links a:hover {
    background-color: #ffeddf;
    border-radius: 12px;
    transform: translateY(-2px);
}

.nav-links a:active {
    transform: scale(0.96);
}

.brand {
    position: absolute;
    left: 20px;
}

.brand img {
    height: 100%;
    width: 85px;
    padding: 10px 20px;
    max-height: 64px;
    object-fit: contain;
}

.head h1 {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 40px;
}

.head p {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 20px;
}

.calculator {
    width: 300px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffeddf;
    border-radius: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calculator label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.calculator input[type="date"] {
    width: 100%;
    padding: 3px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #333;
    margin-bottom: 18px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.calculator button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffeddf;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}